# Start by ignoring all

*
/*
**/*

# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**.log

# Not ignore file I want to push


!app/
!app/**
!.gradle/
!.gradle/**
!settings.gradle
!gradle.properties
!build.gradle
!gradelew.bat
!gradelew
!gradle/
!gradle/**
!local.properties

# End by ignoring git files

**/.git
**/.gitignore
!.gitignore
!README.md